<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.quantrift.collect-prices</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Users/congrenhan/.quantrift_options_collector/run_collect_prices.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>TZ</key>
    <string>America/Los_Angeles</string>
  </dict>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key>
      <integer>2</integer>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>35</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>3</integer>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>35</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>4</integer>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>35</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>5</integer>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>35</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>6</integer>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>35</integer>
    </dict>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/congrenhan/.quantrift_options_collector/logs/collect_prices.launchd.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/congrenhan/.quantrift_options_collector/logs/collect_prices.launchd.stderr.log</string>
</dict>
</plist>
